trigger:
- master

pool:
  vmImage: 'windows-latest'

steps:
- task: ChocolateyCommand@0
  inputs:
    command: 'pack'
    packOperation: 'single'
    packWorkingDirectory: '$(Build.Repository.LocalPath)'
    packNuspecFileName: 'urlrewrite/urlrewrite.nuspec'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'artifact'
    publishLocation: 'Container'