trigger:
- master

pool:
  vmImage: 'windows-latest'

steps:
- task: ChocolateyCommand@0
  inputs:
    command: 'pack'
    packOperation: 'single'
    packWorkingDirectory: '$(Build.Repository.LocalPath)'
    packNuspecFileName: 'urlrewrite/urlrewrite.nuspec'